* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "plain light";
  color: #fff;
}
html,
body {
  height: 100%;
  width: 100%;
}
#cursor {
  height: 2.3vw;
  width: 2.3vw;
  border-radius: 50%;
  /* background-color: aliceblue; */
  border: 1.3px rgb(240, 248, 255) solid;
  position: fixed;
  z-index: 999;
  mix-blend-mode: difference;
  transform: translate(-50%, -50%);
}
#loader {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 99;
  background-color: #0b0b0b;
  padding: 25vh 12vw;
}
.line {
  height: fit-content;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2vw;
}

.line h1 {
  font-size: 6.5vw;
  text-transform: uppercase;
  font-weight: 900;
  font-family: "plain light";
}
.line h2 {
  font-size: 5vw;
  text-transform: uppercase;
  font-weight: 900;
  opacity: 0;
  /* animation-name: now; */
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  transition: all 1s ease;
}
#line1number {
  display: flex;
  align-self: center;
  justify-content: center;
  gap: 1.1vw;
}
#line1number h5,
#line1number h6 {
  font-size: 2.5vw;
  font-family: "silk serif";
  font-weight: 100;
}
#line1number h5 {
  width: 5vw;
  text-align: right;
}

@-webkit-keyframes now {
  0% {
    font-family: "plain light";
    -webkit-text-stroke: 1px #fff;
    color: #fff;
    font-weight: 500;
    opacity: 1;
  }

  48% {
    font-family: "plain light";
    -webkit-text-stroke: 1px #fff;
    color: #fff;
    font-weight: 500;
    opacity: 0;
  }

  50% {
    font-family: "silk serif";
    -webkit-text-stroke: 1px #fff;
    font-weight: 500;
    color: transparent;
    opacity: 1;
  }

  100% {
    font-family: "silk serif";
    -webkit-text-stroke: 1px #fff;
    font-weight: 500;
    color: transparent;
    opacity: 0;
  }
}

@keyframes now {
  0% {
    font-family: "plain light";
    -webkit-text-stroke: 1px #fff;
    color: #fff;
    font-weight: 500;
    opacity: 1;
  }

  48% {
    font-family: "plain light";
    -webkit-text-stroke: 1px #fff;
    color: #fff;
    font-weight: 500;
    opacity: 0;
  }

  50% {
    font-family: "silk serif";
    -webkit-text-stroke: 1px #fff;
    font-weight: 500;
    color: transparent;
    opacity: 1;
  }

  100% {
    font-family: "silk serif";
    -webkit-text-stroke: 1px #fff;
    font-weight: 500;
    color: transparent;
    opacity: 0;
  }
}

#main {
  position: relative;
  background-color: #0b0b0b;
}
#section1 {
  height: 100vh;
  width: 100%;
  background-color: #151515;
}

#pleasewait {
  font-family: "plain light";
  font-weight: 400;
  /* background-color: aqua; */
  margin-left: 5vw;
  width: 50%;
  overflow: hidden;
}

#section1 #nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.6vw 5vw;
}
#nav #nav2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3vw;
}

#nav #nav2 h4 {
  font-size: 0.8vw;
  font-weight: 500;
}

.herotext {
  width: 73%;
  margin-left: 27%;
}

.herotext h1 {
  font-size: 7.3vw;
  text-transform: uppercase;
  line-height: 7.3vw;
  font-family: "plain regular";
  font-weight: 500;
  word-spacing: -0.4vw;
  height: fit-content;
}
.herotext:nth-child(2) {
  margin-top: 16.6vh;
}
